
body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    color: #2c3e50;
}

p {
    font-size: 16px;
    color: #333;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #d5d513;
    border-radius: 5px;
    outline: none;
}

button:hover {
    background-color: #e40808;
    transform: scale(2.0);
}

button:focus {
    border-color: #e67e22;
    box-shadow: 0 0 5px rgba(230, 126, 34, 0.5);
}

li:nth-child(even) {
    color: red;
}

li:nth-child(odd) {
    color: blue;
}

h1::before {
    content: "👉 ";
}

h2::before {
    content: "👉 ";
}

p::after {
    content: " ✅";
}

input::placeholder {
    color: #ef2f2f;
    font-size: 14px;
;
}

.wrapper:hover::before {
    content: "✅" ;
}

li:not(.color){
    color: black;
}
@keyframes move {

    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(100px);
    }
    100% {
    transform: translateX(0);
    }
}

.wrapper {
    width: 500px;
    height: 100px;
    background-color: #cfcf11;
    animation: move 2s infinite;
    margin-bottom: 100px;
}

.loader {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #fafafa;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #3498db;
    opacity: 0;
    animation: blink 1s infinite ease-in-out;
}

.dot:nth-child(1) { animation-delay: 0.0s; }
.dot:nth-child(2) { animation-delay: 0.15s; }
.dot:nth-child(3) { animation-delay: 0.30s; }

@keyframes blink {
    0%, 80%, 100% { opacity: 0; }
    40%           { opacity: 1; }
}